.about-me {
  &__description {
    color: #7e0e06;
    margin-bottom: 32px;
    @include line-style;
    @media (min-width: $tablet) {
      padding: 0 16px;
      margin: 0;
    }
  }
  &__grid-header {
    display: grid;
    grid-template-columns: 1fr 160px;
  }
  &__grid-presentation {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }
  }
  &__heading {
    color: #15616d;
    @media (min-width: $tablet) {
      &::after {
        content: " 👋";
      }
    }
  }
  &__picture {
    display: block;
    max-width: 100%;
    @media (min-width: $tablet) {
      //   max-width: 300px;
      //   max-height: 400px;
      //   padding-right: 16px;
      //   float: left;
      margin-bottom: 16px;
    }
  }
  &__time {
    color: rgb(44, 43, 43);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  //   @media (min-width: $tablet) {
  //     overflow: hidden;
  //   }
}
