.footer {
  color: #78290f;
  max-width: 1000px;
  margin: 0 auto;
  @include line-style;
  &__link {
    text-decoration: none;
    color: #9c320f;
    font-weight: bold;
    &--top {
      color: #ff7d00;
    }
  }
}
