.week-summary {
  padding: 0 16px;
  border: 2px solid #ccc;
  margin-bottom: 16px;
  &--special {
    border: 1px solid #92140c;
  }
  &__heading {
    color: #21a179;
    margin-bottom: 32px;
    &::before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 8px;
      border-radius: 50%;
      background: rgb(148, 4, 4);
    }
  }
  @media (min-width: $tablet) {
    margin: 0;
  }
}
